body{
    background-color: rgb(148, 255, 105);

}
ul{
    text-align: center;
    display: flex;
    gap: 5rem ;
}
.navi{
    text-transform: uppercase;
    list-style: none;
    font-family:  Arial;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
input,
button,
select,
.button {
    font-size: 1rem;
    padding: 0.25em;
    border: none;
    border-radius: 0.5em;
    color: black;
}
#Feltoltes
{
 color: black;
 margin-top: 2rem;
 display: flex;
 justify-content: center;
 margin-left: 3rem;
}